body {
  margin: 0;
  background-color: #383b9238;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 7px;
}

 h1 {
   margin-top: 0;
   margin-left: 4%;
 }

/*                 HEADER STUFF             */
 header {
   margin: 0;
   background-color: #362d92;
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height:115px;
   height: 10%;
   color: white;
   font-family: 'Kaushan script',cursive;
   font-size: 2.2em;
 }
 header:last-child {
   margin-left: auto;
 }

.searchDec > h2 {
  font-family: Roboto;
  font-size: 0.7em;
}

 .filterContainer {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: 4%;
 }
 .search {
   border-radius: 30px;
   width: 105px;
   height: 50px;
   padding-left: 21px;
   font-size: 0.7em;
   color: black;
   background-color: #362d92;
   border: solid 3px white;
   outline: 0;
   transition: 0.5s;
 }

.search:focus{
  border-radius: 30px;
  width: 230px;
  height: 50px;
  padding: 0 80px 0 20px;
  font-size: 0.7em;
  color: black;
  background-color: white;
  border: solid 3px white;
  outline: 0;
  transition: 0.5s;
}
.searchDec {
  border: 1px black;
}
input::placeholder {
  color: white;
  opacity: 0.9;
}

input:focus {
  background-color: white;
}

input:focus::placeholder {
  opacity: 0;
  margin-left: 10px;
}


 button {
   align-self: flex-end;
 }

.filterDec {
  margin-right: 5%;
}

 .filter {
   border-radius: 30px;
   width: 105px;
   height: 60px;
   font-size: 0.7em;
   color: white;
   background-color: #362d92;
   border: solid 3px white;
   outline: 0;
   transition: 0.5s;
   cursor: pointer;
 }

 .filter:hover {
   color: black;
   background-color: white;
 }

 /*                 MAIN AND USER CARDS             */
 main {
   display: flex;
   flex-wrap: wrap;
 }
.card {
  width: 20%;
  height: 400px;
  display: flex;
  background-color: white;
  margin-top: 1.4%;
  margin-left: 4%;
  font-family: Roboto;
  border-radius: 30px;
  box-shadow: 8px 8px 15px #c5c6d4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card > img {
  border-radius: 100%;
}
.card > h1 {
  margin-bottom: 1%;
  margin-left: 0;
}

/*                 MODAL WINDOW                     */
.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: 1.5s;

  background-color: rgba(0,0,0,0.4);

  font-family: Roboto;
}
.modal-content {
  position: fixed;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 370px;
  height: 140px;
  margin-top: -100px;

  color: white;
  border-radius: 5px;
  background-color: #032333;
  box-shadow: 1px 1px 5px 1px #000;
}
.modal-up {
  display : flex;

  transition: 1.5s;
}
.modal-content-up {
  margin-top: 348px;

  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content > h2 {
  margin-top: 0;
}
